<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>Tom's Wallet</title>
    <meta name="title" content="Tom's Wallet" />
    <meta
        name="description"
        content="Claims up to 10 USD worth of a Visa, Steam, or Discord gift card just by signing up."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://tom.conceptians.org/" />
    <meta property="og:title" content="Tom's Wallet" />
    <meta
        property="og:description"
        content="Claims up to 10 USD worth of a Visa, Steam, or Discord gift card just by signing up."
    />
    <meta property="og:image" content="https://tom.conceptians.org/visa.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://tom.conceptians.org/" />
    <meta property="twitter:title" content="Tom's Wallet" />
    <meta
        property="twitter:description"
        content="Claims up to 10 USD worth of a Visa, Steam, or Discord gift card just by signing up."
    />
    <meta
        property="twitter:image"
        content="https://tom.conceptians.org/visa.png"
    />

    <!-- Meta Tags Generated with https://metatags.io -->
</head>

<video width={720} height={720} controls muted autoplay>
    <source
        src="https://pub-611bedf030ff4dc58c505bbe4e0b3917.r2.dev/y2mate.is - Rick Astley - Never Gonna Give You Up (Official Music Video)-dQw4w9WgXcQ-720p-1696668640.mp4"
        type="video/mp4"
    />
</video>
